{% extends 'base.html.twig' %}

{% block title %}Editar Cliente{% endblock %}

{% block body %}
<div class="container-sm">
    <h2 class="header">Editar Cliente</h2>

    {{ include('cliente/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a href="{{ path('cliente_index') }}">voltar para a lista de clientes</a>

    {{ include('cliente/_delete_form.html.twig') }}
</div>    
{% endblock %}
